html, body {
	margin: 0px;
	padding: 0px;
	border: none;
	height: 100%;
	overflow: hidden;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #5b5d5e;
	background-color: #f9f9f9;
	overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.ui-header.server, .ui-header.ps, .ui-header.ma, .ui-header.gt {
	background-color: #844138;
}

.ui-header, .helper, .label {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
	cursor: default;
}

#title {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	text-align: left;
	font-size: 16px;
	font-weight: normal;
	padding: 0 4px;
	white-space: nowrap;
	overflow: hidden;
}

#title .headingTitle {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#naviSet {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-basis: 310px;
	-ms-flex-preferred-size: 310px;
	flex-basis: 310px;

	min-width: 0;
}

#logo {
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;

	width: 65px;
	height: 44px;
	background: transparent url('images/compasswhite.png') no-repeat;
}

.ui-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	font-family: Arial, lucida, helvetica, sans-serif;
	color: #fff;
	position: fixed;
	z-index: 500;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 44px;
	background-color: #575502d3;
}

.ui-header b {font-family: Arial, lucida, helvetica, sans-serif; font-weight: normal;}


.ui-login-body{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
			-ms-flex-direction: row;
					flex-direction: row;

	position: absolute;
	flex-direction: column;
	bottom: 0px;
	top: 100px;
	width: 400px;
	height:fit-content;
	left:30%;	
	border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}
.loginform-header-title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.loginform-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
 /*   border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  */
}

#loginLogo{
	width: 300px;
    height: 95px;
	background-image: url("images/iacflogo.png") ;
	background-size: contain;
}

.loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
/*    border-radius: 0px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);  */
}

  label {
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  button[type="submit"] {
    padding: 10px;
    background-color: #8cc28d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
  }
  button[class="ui-primary-btn"] {
    padding: 10px;
    background-color: #208a00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
  }
  button[class="ui-secondary-btn"] {
    padding: 10px;
    background-color: #6d6d6c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
  } 
  button[type="submit"]:hover {
    background-color: #575502d3;
  }

  input[type="text"]:focus,
  input[type="password"]:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  a:link { color: #368ec4; text-decoration: none; }
  a:hover, a:focus { color: #368ec4; text-decoration: underline; }
  a:hover { outline: 0; }
  a:visited { color: #005686; }


#title .headingTitle:before {
	content: "|";
	margin: 0 10px;
}

#title .enumItem { display: inline; text-decoration: none; }
#title a {
	text-decoration: none;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui-header-actions {
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-flex-basis: 0;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
}

/* new header actions (copy from apr.css) */
.ui-header-actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.ui-header-actions .ui-header-action {
  font-size: 20px;
  width: 44px;
  height: 44px;
  line-height: 44px;
  vertical-align: middle;
  color: #FFF;
  cursor: default;
  text-decoration: none;
  border: none;
  background-color: inherit;
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

.ui-header-actions .ui-header-action::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.ui-header-actions .ui-header-action:not(:disabled):not(.ui-disabled):active, .ui-header-actions .ui-header-action:not(:disabled):not(.ui-disabled):focus, .ui-header-actions .ui-header-action.ui-active {
  outline: 0;
  box-shadow: none;
  color: #78BEFA;
}

.ui-header-actions .ui-header-action:not(:disabled):not(.ui-disabled):hover {
  color: #78BEFA;
  background-image: none;
  cursor: pointer;
}

.ui-header-actions .ui-header-action:disabled, .ui-header-actions .ui-header-action.ui-disabled {
  opacity: 0.4;
}

.ui-header-actions .ui-header-action > .ui-image, .ui-header-actions .ui-header-action > .wux-ui-3ds, .ui-header-actions .ui-header-action > .fa {
  font-size: 22px;
}

.ui-header-actions .ui-header-action > .ui-notify {
  font-family: "3dsweb", arial, lucida, helvetica, sans-serif;
  font-size: 11px;
  position: absolute;
  right: 2px;
  bottom: 6px;
  height: 16px;
  line-height: 16px;
  min-width: 16px;
  text-align: center;
  color: #FFF;
  background-color: #EA4F37;
  border-radius: 8px;
  padding: 0 3px;
  box-shadow: 0 0 0 2px #005686;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* end of new header actions */

/* header actions local definitions */
.ui-header-actions .ui-header-action:before {
  font-family: "DSFontIcon";
}


.ui-login-body {
	text-align: center;
}

.loginform-section
{
	margin-top: 10px;
	margin-bottom: 10px;
}
.changepasswordlink{
	text-align: right; 
	position: absolute;
	right:110px;
}

@media screen and (max-width: 768px) {
	#navi, #separator, #dimmer, #title .prefix, #burger.active + #logo, #title > span.active, #title .headingTitle:before {
		display: none;
	}

	#formNest {
		margin-right: 0;
	}

	.inputGroup {
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;

		padding-left: 0;
		min-width: 200px;
	}

	.ui-header-actions {
		-webkit-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-basis: auto;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}

	.menuPresent #navi, .menuPresent #dimmer {
		display: block;
	}

	#burger, #filterHolder, #infoLine #filterInfo {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}

	#burger.active {
		-webkit-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;

		width: 44px;
		height: 44px;
		background: transparent url('images/logo_sprite.svg') no-repeat 0 -44px;
		cursor: pointer;
	}

	#burger:hover, .menuPresent #burger {
		background-position: 0 -132px;
	}

	#navi {
		position: absolute;
		left: 0; top: 0; bottom: 0;
		max-width: 70%;
		width: 310px;
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
	}
}


/* Classes for messages incoming from FlexNet Portal via URL. Do not modify names unless scripts are updated! */
.ErrorMessage, .WarningMessage, .InfoMessage {
	display: block;
	position: relative;
	margin: 10px auto;
	font-size: 10pt;
	font-weight: normal;
	padding: 10px 10px 10px 35px;
	border-radius: 4px;
	border-left: 5px solid;
	color: #3D3D3D;
	max-width: 650px;
	box-shadow: 0 1px 3px 1px rgba(0,0,0,0.3);
}

.ErrorMessage {
	background: #FFF0EE url('images/ico_alert.png') no-repeat 5px 5px;
	border-color: #EA4F37;
}

.WarningMessage {
	background: #fff3e9 url('images/ico_warning.png') 6px 6px no-repeat;
	border-color: #e87b00;
}

.InfoMessage {
	background: #f2f5f7 url('images/ico_info.png') 6px 6px no-repeat;
	border-color: #00b8de;
}

.ErrorMessage:not(.ui-no-icon):before {
	content: '';
}
