<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Business Logic Editor</title>
    <meta name="description" content="start">
    <meta charset=UTF-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="renderer" content="webkit" />
   <!-- <script src="Scripts/jquery.min.js" type="text/javascript" ></script>
    <script src="Scripts/json2.js" type="text/javascript" ></script>
    <script src="Scripts/D3.V5.0/d3.min.js" type="text/javascript" ></script>
    <script src="Scripts/Dagre/dagre.min.js" type="text/javascript" ></script>
    <script src="Scripts/flow/lodash.js" type="text/javascript" ></script>
    <script src="Scripts/flow/backbone.js" type="text/javascript" ></script>
    <script src="Scripts/flow/joint.js" type="text/javascript" ></script>
    <script src="Scripts/flow/svg-pan-zoom.js" type="text/javascript" ></script>
    <script src="Scripts/flow/filesave.js" type="text/javascript" ></script>
    <script src="Scripts/contextmenu/jquery.contextMenu.js" type="text/javascript" ></script>
    <script src="Scripts/UIFramework.js" type="text/javascript" ></script>  -->

    <script src="Scripts/flow/UIflow.js" type="text/javascript" ></script>
    <script src='Scripts/codemirror5/lib/codemirror.js'></script>
    <script src='Scripts/codemirror5/mode/xml/xml.js'></script>
    <script src='Scripts/codemirror5/mode/css/css.js'></script>
    <script src='Scripts/codemirror5/mode/javascript/javascript.js'></script>
    <script src="Scripts/codemirror5/mode/clike/clike.js"></script>
    <script src="Scripts/codemirror5/mode/sql/sql.js"></script>
    <script src='Scripts/codemirror5/mode/htmlmixed/htmlmixed.js'></script>
    <!--script src='Scripts/codemirror5/addon/edit/closebracket.js'></script>
    <script src='Scripts/codemirror5/addon/edit/closetag.js'></script>
    <script src='Scripts/codemirror5/addon/edit/matchbrackets.js'></script>
    <script src='Scripts/codemirror5/addon/edit/matchtags.js'></script>
    <script src='Scripts/codemirror5/addon/edit/tailingspace.js'></script>
    <script src='Scripts/codemirror5/addon/edit/continuelist.js'></script>-->
    <script src='Scripts/codemirror5/addon/fold/foldcode.js'></script>
    <script src='Scripts/codemirror5/addon/fold/foldgutter.js'></script>
    <script src='Scripts/codemirror5/addon/fold/brace-fold.js'></script>
    <script src='Scripts/codemirror5/addon/fold/xml-fold.js'></script>
    <script src='Scripts/codemirror5/addon/fold/comment-fold.js'></script> 
    <script src='Scripts/codemirror5/lib/diff_match_patch.js'></script>
    <script src='Scripts/codemirror5/addon/merge/merge.js'></script>
    <link rel='stylesheet' href='styles/codemirror.css'>
    <link rel="stylesheet" type="text/css" href="styles/flow/joint.css">
    <link rel="stylesheet" type="text/css" href="styles/flow/UIFlow.css">
    <link rel="stylesheet" type="text/css" href="styles/contextmenu/jquery.contextMenu.css">
    <link rel="stylesheet" href="styles/fontawesome/css/all.min.css" />
    <link rel='stylesheet' href='Scripts/codemirror5/addon/merge/merge.css'>
    <link rel="stylesheet" href="styles/jstree/jstree.css" />
<head>

<body>
    <div id="fg_processflow" style="width:100%;height:100%;"></div>
    <div id="f_processflow" style="width:100%; display:none;"></div>
    <script>
        var flow
        //document.addEventListener("DOMContentLoaded", function(event) {
        $Context.onLoaded(function(){
            console.log("DOM fully loaded and parsed", $Context.inputs.selectedname);
            
            if($Context.inputs.selectedname == "")
            {
                loadProcessFlow("")
                return;
            }

            let ajax = new UI.Ajax("");
            let inputs={
                "code": $Context.inputs.selectedname
            }
            console.log(inputs)
            ajax.post('/trancode/detail',inputs).then((response) => {
                console.log(JSON.parse(response))
                loadProcessFlow(response)
          
            }).catch((error) => {
                console.log(error);
            })
        });

        function loadProcessFlow(response){
            let width = $('#fg_processflow').width()
                let height = $('#fg_processflow').height()
                if(!width || width < 1000)
                    width = 1000
                if(!height || height < 800)
                    height = 800

                let options ={
                    width: width,
                    height: height,
                    gridSize: 10,
                    drawGrid: false,
                    interactive: true,
                    nodewidth: 250,
                    nodeheight: 100,
                    flowtype: 'TRANCODE',
                    identity: 1,
                    skipstartnode: true,
                    background: {
                            color: 'rgba(240, 250, 250, 0.3)'
                        },
                    showtoolbar: false,
                    on_process_ready(process){},
                    on_block_click: function(nodeid){},
                    on_block_dbclick: function(nodeid){},
                    on_tool_click: function(data){},
                    on_tool_dragstart: function(event){},
                    on_link_add: function(sourceBlock,TargetBlock){},
                    on_link_remove: function(link, linkview){},
                    on_save_flow:function(flowobj){
                        console.log(flowobj)
                        let ajax = new UI.Ajax("");
                        let inputs={
                            "data": flowobj
                        }
                        console.log(inputs)
                        ajax.post('/trancode/update',inputs).then((response) => {
                            console.log(response)
                        }).catch((error) => {
                            console.log(error);
                        })

                    },
                    on_go_back:function(){
                        console.log("on_go_back")
                        $Context.outputs.action = "BACK"
                        $Context.submit();
                    },
                    }

                    if(response == undefined || response == ""){
                        let emptyobj = {"Outputs":[{}]};
                        response = JSON.stringify(emptyobj)   
                    }
                    console.log("render the flow:",response, !ProcessFlow)
                    if(!ProcessFlow){
                        document.addEventListener("UIFlow_libraryLoaded", function(event) {
                            console.log('UIFlow_libraryLoaded')
                            flow = new ProcessFlow("fg_processflow",JSON.parse(response).Outputs[0], options,"");
                        });

                    }
                    else 
                        flow = new ProcessFlow("fg_processflow",JSON.parse(response).Outputs[0], options,"");

        }

    </script>
</body>