<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Master Data Maintenance</title>
    <meta name="description" content="start">
    <meta charset=UTF-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <script src="Scripts/jquery.min.js" type="text/javascript" ></script>    
    <link href="styles/dataTables.css" rel="stylesheet"/> 
    <script src="scripts/datatables.js"></script>
    <script src="scripts/jsonmanager.js"></script>
<head>
<body>
    <div id="myGrid" style="width:100%;height:100%;"></div>
   <script>

        $Context.onLoaded(function(){
            
            if($Context.inputs.ui_dataschema == ''){
                UI.ShowError('No Data Schema Specified');
                return;
            } 
            let schema = null;
            let ajax = new UI.Ajax("");
            ajax.get('/portal/datasets/schemas/'+ $Context.inputs.ui_dataschema + '.json').then((response) => {
                schema = JSON.parse(response);
                if(schema == null){
                    UI.ShowError('Data Schema Not Found');
                    return;
                }
                let type = ""; 
                let datasource = "";
                let listfields = [];
                if(schema.hasOwnProperty('datasourcetype'))
                    type = schema.datasourcetype;
                if(schema.hasOwnProperty('datasource'))
                    datasource = schema.datasource;
                if(schema.hasOwnProperty('listfields'))
                    listfields = schema.listfields;
               
                data ={}
                for(var i=0;i<listfields.length;i++){
                    data[listfields[i]] = 1;
                }
                let jdataschema =new UI.JSONSchema(schema)
            //    console.log(jdataschema)

                
                let fieldpropertiesobj = {};
                for(var i=0;i<listfields.length;i++){
                    let fieldschema = jdataschema.getPropertiesFromSchema(listfields[i].replace('.','/'));
                    if(fieldschema)
                        fieldpropertiesobj[listfields[i]] =  fieldschema.properties;
                    else 
                        fieldpropertiesobj[listfields[i]] = null;
                    
                }
                let keyfield = "";
                if(schema.hasOwnProperty('keyfield'))
                    keyfield = schema.keyfield;

                if(type == "collection" && datasource !='' && data != '{}'){
                    let inputs={};
                    inputs["collectionname"] = datasource;                 
                    inputs["data"] = data;
                    inputs["operation"] = "list";
 
                //    console.log(inputs, JSON.stringify(data))
                    ajax.post('/collection/list',inputs).then((response) => {
                        data = JSON.parse(response)["data"];
                        console.log(response,data)
                        rows =[];
                        data.forEach(element => {
                            let rowdata = element
                            console.log(rowdata)
                            cells=[];
                            
                            for(var i=0;i<listfields.length;i++){
                                lngcode = "";
                                if(rowdata.hasOwnProperty(listfields[i])){
                                    let celldata = rowdata[listfields[i]];
                                    if(fieldpropertiesobj.hasOwnProperty(listfields[i])){
                                        if(fieldpropertiesobj[listfields[i]]){
                                            console.log(fieldpropertiesobj[listfields[i]])
                                            if(fieldpropertiesobj[listfields[i]].hasOwnProperty('options')){

                                                let options = fieldpropertiesobj[listfields[i]].options;
                                                console.log(options, celldata)
                                                if(options.hasOwnProperty('lngcode') && options.hasOwnProperty('value') && options.hasOwnProperty('default'))
                                                {    
                                                    if(Array.isArray(options.value) && Array.isArray(options.default) && Array.isArray(options.lngcode))
                                                       if(options.value.length == options.default.length && options.value.length == options.lngcode.length){
                                                            for(var j=0;j<options.value.length;j++){
                                                                if(options.value[j] == celldata){
                                                                    celldata = options.default[j];
                                                                    lngcode = options.lngcode[j];
                                                                    break;
                                                                }
                                                            }
                                                        }
                                                }
                                            }

                                            if(fieldpropertiesobj[listfields[i]].hasOwnProperty('format')){
                                                let format = fieldpropertiesobj[listfields[i]].format;
                                                if(format == 'date'){
                                                    celldata = new Date(celldata).toLocaleDateString();
                                                }
                                            }
                                        }
                                    }
                                    if(lngcode != "")
                                        cells.push({data:{innerHTML:celldata, lngcode:lngcode}});
                                    else
                                        cells.push({data:{innerHTML:celldata}});
                                }
                                else
                                    cells.push("");
                            }
                            rows.push(cells)
                        });
                            
                        let headers =[];
                        let columns =[];
                        for(var i=0;i<listfields.length;i++){
                            let fieldschema = fieldpropertiesobj[listfields[i]];
                            let lng = null;
                            if(fieldschema){
                                if(fieldschema.hasOwnProperty('lng'))
                                    lng = fieldschema.lng;
                            }
                            if(lng)
                                headers.push({innerHTML:lng.default, lngcode:lng.code});
                            else
                                headers.push({innerHTML:listfields[i] });   
                            
                            columns.push({control:"", attrs:{"data-key":listfields[i]}});
                        }
                        let table_data={
                            attrs:{id:"myTable"},
                            headers:headers,
                            columns:columns,
                            rows:rows
                        }
                    //    console.log(table_data)
                        new UI.HtmlTable(document.getElementById('myGrid'),table_data);

                        if(!DataTable){
                                document.addEventListener("UIDataTable_libraryLoaded", function(event) {
                                    console.log('UIDataTable_libraryLoaded')
                                    //table = new DataTable('#myTable');
                                    $('#myTable').DataTable( {
                                        buttons: [
                                            'Add'
                                        ]
                                    } );
                                });

                        }
                        else{ 
                        // new DataTable('#myTable');
                            $('#myTable').DataTable( {
                                    buttons: [
                                        'Add'
                                    ]
                            } );
                        }

                        $('table > tbody > tr').on('click', function(){
                            console.log('select row', this)
                            if($(this).hasClass('selected')){
                                $(this).removeClass('selected');
                            }
                            else{
                                $('table > tbody > tr').removeClass('selected');
                                $(this).addClass('selected');
                            }
                        });
                        $('table > tbody > tr').on('dblclick', function(){
                            console.log('edito row', this)
                            let key = $(this).find('td[data-key="'+keyfield+'"]').text();
                            $Context.outputs.action="SELECT";
                            $Context.outputs.selectedKey = key;
                            $Context.outputs.ui_dataschema =  $Context.inputs.ui_dataschema;
                            $Context.outputs.ui_schema = schema;
                            $Context.submit();
                            console.log('selected key:',key)
                        });

                    }).catch((error) => {
                        UI.ShowError('Error Loading Data List');
                   //    console.log(error);
                    })

                    
                }


            }).catch((error) => {
                UI.ShowError('Error Loading Data Schema');
            //    console.log(error);
            })


        })
    </script>
</body>