<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Master Data Maintenance</title>
    <meta name="description" content="start">
    <meta charset=UTF-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <script src="Scripts/jquery.min.js" type="text/javascript" ></script>    
    <script src="scripts/jsonmanager.js"></script>
</head>
<body>
    <div id="detailcontent" style="width:100%;"></div>
    <script>
        var detail;
        $Context.onLoaded(function(){
            initialize();
            let menu_viewonly = $Context.inputs.menu_viewonly
            console.log(menu_viewonly)
            if(menu_viewonly == "1"){
                $('.ui_actions_section button:not([value="Cancel"])').prop('disabled', true);
            }
        })
        function initialize(){
            let schema = $Context.inputs.ui_schema;
            console.log(schema);
            let Jschema = new UI.JSONSchema(schema);
            console.log(Jschema)

            let keyfield = "ID";
            if(Jschema.schema.hasOwnProperty('keyfield'))
                keyfield = schema.keyfield;

            if($Context.inputs.selectedKey == ""){
                
                let data = Jschema.createemptydata();
                console.log(data)
                showdetaildata(Jschema, data, schema)
                        
            }else{
                let ajax =new UI.Ajax("");
                let inputs={
                    "tablename": Jschema.schema.datasource,
                }
                let qdata={};
                let fields = Jschema.getfields();
                console.log(inputs, fields)
                qdata[Jschema.schema.datasource]={};
                qdata[Jschema.schema.datasource].fields = fields                
                inputs.data = qdata;
                inputs.operation = "query"
                inputs.keys = [];
                inputs.keys.push(keyfield)
                inputs.where = {}
                inputs.where[Jschema.schema.datasource+"."+keyfield+" = '"+$Context.inputs.selectedKey+"'"]="";
                
                console.log(inputs, JSON.stringify(inputs))
                ajax.post('/sqldata/get',inputs).then((response) => {
                    data = JSON.parse(response);
                    console.log(data)
                    if(data.data.length > 0){
                        data = data.data[0]
                        console.log(data)
                        showdetaildata(Jschema, data, schema)
                    }
                }).catch((error) => {
                    console.log(error);
                });


            }
              
        }
    function showdetaildata(Jschema, data, schema){
        let allowChanges = true;
        if($Context.inputs.menu_viewonly == "1")
            allowChanges = false;
        
        let keyfield = "ID";
        if(Jschema.schema.hasOwnProperty('keyfield'))
            keyfield = schema.keyfield;

        console.log($Context.inputs.menu_viewonly, allowChanges)
        detail = new UI.JSONManager(data, {allowChanges:allowChanges,schema:schema,
            on_save:function(data){

                if(!allowChanges)
                {
                    UI.showError("You are in view only mode!");
                }
                console.log("save action",data)
                jdata = Jschema.getdatadetail();
                let datasourcetype = jdata.datasourcetype 
                let datasource = jdata.datasource

                let NullValues ={}
                $('[nullvalue]').each(function(){
                    let datakey = $(this).attr('data-key')
                    let nullvalue = $(this).attr('nullvalue')
                    NullValues[datakey] = nullvalue
                })

                if(datasourcetype == "table"){
                            let inputs={
                                "tablename": datasource,
                                "data":data
                            }
                            let ajax =new UI.Ajax("");

                            if($Context.inputs.selectedKey == "")
                            {
                                url = '/sqldata/insert'
                                data.createdby = UI.userlogin.username
                                data.createdon = (new Date()).toISOString().slice(0, 19).replace('T', ' ');
                                data.updatedby = UI.userlogin.username
                                data.updatedon = (new Date()).toISOString().slice(0, 19).replace('T', ' ');
                                delete data.UUID
                                delete data.Active
                                data.active =1 
                                delete data.ID                                
                                inputs.data = Jschema.parsedata(data)
                                inputs.nullvalues = NullValues
                                console.log(inputs)
                                
                            }
                            else{
                                url = '/sqldata/update'
                                delete data.createdby
                                delete data.createdon
                                data.updatedby = UI.userlogin.username
                                data.Updatedon = (new Date()).toISOString().slice(0, 19).replace('T', ' ');
                                inputs.data = Jschema.parsedata(data)
                                inputs.nullvalues = NullValues
                                inputs.where = {}                                
                                inputs.where[Jschema.schema.datasource+"."+keyfield+" = '"+$Context.inputs.selectedKey+"'"]="";
                            }
                            console.log(url, inputs)
                            ajax.post(url,inputs).then((response) => {
                                data = JSON.parse(response);
                                console.log(data)
                                $Context.inputs.selectedKey = data.data.keyfield
                                /*
                                id = data.data.id
                                if(id != undefined)
                                    detail.jdata.ID = id */
                            }).catch((error) => {
                                console.log(error);
                            });
                        }
                        
                },
                on_cancel:function(){
                        
                }
            });
            detail.allowChanges = allowChanges
            detail.options.allowChanges = allowChanges
                
            detail.showdetailpage(document.getElementById("detailcontent")); 
            let menu_viewonly = $Context.inputs.menu_viewonly
             console.log(menu_viewonly)
            if(menu_viewonly == "1"){
                $('.ui_actions_section button:not([value="Cancel"])').prop('disabled', true);
            }
    }
    </script>
</body>