<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Master Data Maintenance</title>
    <meta name="description" content="start">
    <meta charset=UTF-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <script src="Scripts/jquery.min.js" type="text/javascript" ></script>    
    <script src="scripts/uiframework.js"></script>    
    <script src="scripts/tabulator/tabulator.js"></script>

    <script src="scripts/jsonmanager.js"></script>
    <link rel="stylesheet" href="styles/tabulator/tabulator.css">
</head>
<body>
    <script src="scripts/uiwebcomponents.js"></script>    
    <div class="ui_actions_section" >
        <button type="button" onclick="$ViewID_addnewrecord()" class="btn btn-primary" style="float:right;" value="Add" lngcode="Add">Add</button>
        <button type="button" onclick="$ViewID_Edit('EDIT')" class="btn btn-secondary" style="float:right;" value="SELECT" lngcode="Edit">Edit</button>
        <button type="button" onclick="$ViewID_Edit('SELECT')" class="btn btn-secondary" style="float:right;" value="Select" lngcode="Select">Select</button>
        <button type="button" onclick="$ViewID_Delete()" class="btn btn-secondary" style="float:right;" value="Delete" lngcode="Delete">Delete</button>
        <button type="button" onclick="$ViewID_Cancel()" class="btn btn-secondary" style="float:right;" value="Cancel" lngcode="Cancel">Cancel</button>
    </div>
   <ui-tabulator schema="{ui_dataschema}" data_viewonly="{menu_viewonly}" datakey_field="" datakey_value=""></ui-tabulator>
   <script>
        $Context.onLoaded(function(){
            let menu_viewonly = $Context.inputs.menu_viewonly
            console.log(menu_viewonly)
            if(menu_viewonly == "1"){
                $('.ui_actions_section button:not([value="Cancel"])').prop('disabled', true);
            }
        })

        function getSelectedKeys(){
            let uiTabulator = document.querySelector('ui-tabulator');
            if(uiTabulator){

                let SelectedKeys = uiTabulator.getSelectedKeys();
                console.log(SelectedKeys)
                return SelectedKeys;
            }

        }
        function getTableSchema(){
            let uiTabulator = document.querySelector('ui-tabulator');
            if(uiTabulator){
                return uiTabulator.getTableSchema()
            }
        }
        function $ViewID_Edit(action){

            if($Context.inputs.menu_viewonly == "1")
                return;

            let selectedKeys = getSelectedKeys();
            console.log("getSelectedRows:",getSelectedKeys())
            
            if(selectedKeys.length !=1)
            {
                UI.ShowError("Only one row can be selected to continue!");
                return;
            }
            let schema = getTableSchema();

            if(schema == null){
                UI.ShowError("No schema found to continue!");
                return;
            }

            $Context.outputs.action=action.toUpperCase();
            $Context.outputs.selectedKey = selectedKeys[0];
            $Context.outputs.ui_dataschema =  $Context.inputs.ui_dataschema;
            $Context.outputs.ui_schema = schema;
            $Context.submit();
            
        }
        function $ViewID_Delete(){
            if($Context.inputs.menu_viewonly == "1")
                return;

            let selectedKeys = getSelectedKeys();
            console.log("getSelectedRows:",getSelectedKeys())
            
            let schema = getTableSchema();

            if(schema == null){
                UI.ShowError("No schema found to continue!");
                return;
            }

            for(var i=0;i<selectedKeys.length;i++){
                let key = selectedKeys[i];
                console.log("delete row", key)
                if(key !=""){
                    let inputs={};
                    let type = ""; 
                    let datasource = "";
                    let listfields = [];
                    if(schema.hasOwnProperty('datasourcetype'))
                        type = schema.datasourcetype;
                    if(schema.hasOwnProperty('datasource'))
                        datasource = schema.datasource;
                    if(type == "table" && datasource !=''){
                    
                        inputs["tablename"] = datasource;                 
                        inputs["operation"] = "delete";
                        let str = keyfield + "= '" + key + "'"
                        inputs["where"] = {}
                        inputs.where[str] = "";                   
                        url = '/sqldata/delete'
                        UI.ajax.post(url,inputs).then((response) => {
                            let uiTabulator = document.querySelector('ui-tabulator');
                            if(uiTabulator){ 
                                uiTabulator.refresh();
                            }
                        }).catch((error) => {
                                UI.ShowError('Error Delete Data:' + key);
                        //    console.log(error);
                        })
                    }

                }
            }
        }
        function $ViewID_Cancel(){
            $Context.outputs.action="CANCEL";
            $Context.submit();
        }
        function $ViewID_addnewrecord(){
            if($Context.inputs.menu_viewonly == "1")
                return;
            
                let schema = getTableSchema();

            if(schema == null){
                UI.ShowError("No schema found to continue!");
                return;
            }
            console.log("add new record")
            $Context.outputs.action="NEW";
            $Context.outputs.selectedKey = "";
            $Context.outputs.ui_dataschema =  $Context.inputs.ui_dataschema;
            $Context.outputs.ui_schema = schema;
            $Context.submit();
        }
    </script>
</body>