<!DOCTYPE HTML>
<html>

<head>
    <title>Flow - Function property</title>
    <meta name="description" content="start">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <script src="Scripts/jquery.min.js" type="text/javascript" ></script>
    <script src="Scripts/jquery.min.js" type="text/javascript" ></script>
    <script src="Scripts/json2.js" type="text/javascript" ></script>
    <script src="Scripts/UIFramework.js" type="text/javascript" ></script>
    <script src="Scripts/flow/UIflow.js" type="text/javascript" ></script>
    <link rel="stylesheet" type="text/css" href="styles/flow/joint.css">
    <link rel="stylesheet" type="text/css" href="styles/flow/UIFlow.css">
    <link rel="stylesheet" type="text/css" href="styles/contextmenu/jquery.contextMenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<head>
<body>
    <label>Function Name:</label>
    <input type="text" id="txtFunctionName" name="txtFunctionName" value="Function Name" />
    <label>Function Description:</label>
    <textarea type="text" id="txtFunctionDescription" name="txtFunctionDescription" value="Function Description" />
    <label>Function Type:</label>


</body>

</html>