<div class="iac-ui-page-header">
    <div class="iac-ui-page-header-left">
        <img id="svc_cutomer_logo" src="/Apriso/Portal/Images/LPM.png" style="height:30px;width:auto;margin-right:10px; margin-left:5px;">
        <span class="iac-ui-icon-logo"></span>
        <span class="iac-ui-app-name"><b>IACF</b></span>
        <div class="iac-ui-crumbs">
            <div class="iac-ui-header-popup">
                <div class="triangle"></div>
                <ul>
                    <li title="SVC_SummaryScreen" data-crumbs="1" class="hidden"><span>KPI Cockpit</span></li>
                    <li title="SVC_LPM_PORTAL" data-crumbs="0" class="hidden"><span>LPM Portal</span></li>
                </ul>
            </div>
            <ul>
                <li title="SVC_LPM_PORTAL" data-crumbs="0"><span>LPM Portal</span></li>
                <li title="SVC_SummaryScreen" data-crumbs="1"><span>KPI Cockpit</span></li>
                <span class="expander"></span>
            </ul>
        </div>
    </div>
    <div class="iac-ui-page-header-center">
        <div class="iac-ui-searchbox" style="display: none;">
            <input placeholder="Search" type="text">
            <div class="iac-ui-icon-search" style="display: none;"></div>
        </div>
    </div>
    <div class="iac-ui-page-header-right">
        <div class="iac-ui-header-panel panel_-sf-panel-header" iac-ui-panel-id="-sf-panel-header">
            <div class="sf-panel-content SVC_Generic_Console_Head" data-portal-view="SVC_Generic_Console_Head">
                <div class="OperationContainer MainOperation Screen__sf_panel_header_" data-flx-screen-id="Screen__sf_panel_header_">

                </div>
            </div>
        </div>
        <span class="iac-ui-header-clock clock">4:45:59 PM</span>
        <span class="iac-ui-header-user-name">Rocky</span>
        <a class="user iac-ui-header-action active"><img src="api/badges/employee?employeeNo=W4G">
            <div class="iac-ui-header-popup">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <a>
                            <span class="logout iac-ui-header-action"></span>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </a>
        <div class="iac-ui-header-actions">
            <a class="iac-ui-header-action default-icon back" style="" title="Back" data-code="BACK"></a>
            <a class="iac-ui-header-action default-icon home" style="" title="Home" data-code="HOME"></a>
            <a class="iac-ui-header-action default-icon info" style="" title="About" data-code="INFO"></a>
            <a class="iac-ui-header-action default-icon help" style="" title="Help" data-code="HELP"></a>
            <a class="iac-ui-header-action default-icon lpm-apps" style="font-family: FontAwesome" title="LPM Applicatoins" data-code="LPM_APPS" onclick="call_lpm_portal();"></a>
        </div>
        <a class="iac-ui-header-action search" title="Search"></a>
        <a class="iac-ui-header-action menu" title="Menu">
            <div class="iac-ui-header-popup">
                <div class="triangle"></div>
                <ul title="">
                    <li>
                        <a data-code="HELP"><span class="iac-ui-header-action default-icon help" style=""></span><span>Help</span></a>
                    </li>
                    <li>
                        <a data-code="INFO"><span class="iac-ui-header-action default-icon info" style=""></span><span>About</span></a>
                    </li>
                    <li>
                        <a data-code="HOME"><span class="iac-ui-header-action default-icon home" style=""></span><span>Home</span></a>
                    </li>
                    <li>
                        <a data-code="BACK"><span class="iac-ui-header-action default-icon back" style=""></span><span>Back</span></a>
                    </li>
                    <li class="logout">
                        <a><span class="logout iac-ui-header-action"></span><span>Logout</span></a>
                    </li>
                    <li class="group-header">
                        <span class="user iac-ui-header-action">
                            <img src="api/badges/employee?employeeNo=W4G"></span>
                        <span>Rocky</span>
                    </li>
                </ul>
            </div>
        </a>
    </div>
</div>

<!--
<header class="ui-header">
    <div class="ui-logo">Your Logo</div>
    <div class="ui-page-breadcrumbs"></div>
    <div class="ui-current-time"></div>
    <div class="ui-user-info"></div>
    <div class="ui-app-links"></div>
    <div class="ui-icons">
        <span class="ui-info">ℹ️</span>
        <span class="ui-help">❓</span>
    </div>
</header>  -->

<script>
    // Path: Portal\Templates\header.html
    // This script is used to add the breadcrumbs to the header
    // It is not necessary to use this script, but it is recommended
    // to use it to keep the header template clean
    $(document).ready(function() {
     /*   var breadcrumbs = [];
        var breadcrumb = $('.ui-page-breadcrumbs').html();
        if (breadcrumb) {
            breadcrumbs = breadcrumb.split('>');
            $('.ui-page-breadcrumbs').html('');
            breadcrumbs.forEach(function(breadcrumb) {
                $('.ui-page-breadcrumbs').append('<span class="ui-breadcrumb">' + breadcrumb + '</span>');
            });
        }  */

        function updateClock() {
            const now = new Date();
            const timeString = now.toLocaleTimeString();
            document.querySelector('.iac-ui-header-clock').textContent = timeString;
        }

        setInterval(updateClock, 1000);

        
        userdata = sessionStorage.getItem(UI.userlogin.sessionkey)
        let userjdata = JSON.parse(userdata);
        if (userjdata) {
            $('.iac-ui-header-user-name').html(userjdata.username);
        }
    });
</script>