<head>
    <script src="scripts/chartjs/chart.umd.js"></script>   
</head>
<body>
    <script src="scripts/UI.chart.js"></script> 
    <h1>Machine Production Analysis ({Machine})</h1>
    <ui-line-chart id="machine_Production_analysis_line_chart"></ui-line-chart>

    <script>
        $Context.onLoaded(function(){

            console.log("machine_Production_analysis_line_chart")

            let linechart = document.getElementById('machine_Production_analysis_line_chart')
          /*  barchart.data = {}
            barchart.refresh() */
            console.log("machine_Production_analysis_line_chart 1")
            let inputs ={}
            let Machine = $Context.inputs.Machine
            let query = `SELECT IFNULL(Quantity,0) As Quantity, IFNULL(ScrapedQuantity,0) As ScrapedQuantity, Time FROM iac.machine_productions
                    Where Machine = '{Machine}' `;

            console.log("machine_Production_analysis_line_chart 2")
            inputs["querystr"] = query
            console.log("Production Analysis:", inputs)
            UI.ajax.post('/sqldata/query',inputs).then((response) => {
                let data = JSON.parse(response).data
                console.log(data, response)
                let labels = []
                let datasets = []
                let bgColors = ["Green", "Red"]
                let types =["Quantity", "ScrapedQuantity"]
                let Quantity = []
                let ScrapedQuantity = []

                data.forEach(item => {
                    item.Time = item.Time.replace("T", " ")
                    if(labels.indexOf(item.Time) == -1){
                            labels.push(item.Time)
                    }

                    Quantity.push(item.Quantity)
                    ScrapedQuantity.push(item.ScrapedQuantity)
                });

                let dataset1 = {
                    label: "Quantity",
                    backgroundColor: bgColors[0],
                    data: Quantity
                }

                let dataset2 = {
                    label: "ScrapedQuantity",
                    backgroundColor: bgColors[1],
                    data: ScrapedQuantity
                }
                datasets.push(dataset1)
                datasets.push(dataset2)
                      
                console.log(datasets)

                let linechartdata = {
                    labels: labels,
                    datasets: datasets
                }

                linechart.chart.data = linechartdata
                console.log("machine_Production_analysis_line_chart 3 ", linechartdata,linechart.data)
                linechart.refresh()

            }).catch((error) => {
                UI.ShowError(error);
            });
        })

    </script>

</body>