<body>
    <div class="sidebar menu_items">
      <div data-key="New" class="item ui_page_silde_icon-menu-item">
        <i class="icon piper"></i>
        <span>New</span>
      </div>
      <div data-key="Save"  class="item ui_page_silde_icon-menu-item">
        <i class="icon save"></i>
        <span>Save</span>
      </div>
      <div data-key="SaveAs"  class="item ui_page_silde_icon-menu-item">
        <i class="icon saveas"></i>
        <span>Save As</span>
      </div>
      <div data-key="Export"  class="item ui_page_silde_icon-menu-item">
        <i class="icon export"></i>
        <span>Export</span>
      </div>
      <div data-key="Import"  class="item ui_page_silde_icon-menu-item">
        <i class="icon import"></i>
        <span>Import</span>
      </div>      
    </div>
  
<script>
    $Context.onLoaded(function(){
        
        $('.menu_items').find('.item').on("click",function(e){
            let element = $(e.target);
            let dk = element.closest(".item").attr("data-key");
            if(dk){
                $Context.outputs.action = dk;
                console.log(dk)
             //   $Context.submit();
            }
        })


    });
</script>
</body>



