/* port styling */
.available-magnet {
    fill: #5DA271;
}

/* element styling */
.available-cell rect {
    stroke-dasharray: 5, 2;
}

rect[joint-selector="FunctionOutputRect"]{
	fill-opacity: 0.25;
}

rect[joint-selector="FunctioninputRect"]{
	fill-opacity: 0.25;
}

.btn::before{
	font-family: FontAwesome;
	font-size: 12px;
	margin-right: 5px;
}
.uiflow_process_flow_menubar_container{
    font-family: FontAwesome;
    display: flex;
    width: 45px;
    height: 100%;
    z-index: 9;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #c9cbcc;
    bottom: 0px;
    overflow: hidden;
    flex-direction: column
}

.uiflow_process_flow_menubar_container_menubar{
	display: inline-block;
	font-size: 28px;
	width: 35px;
	height: 65px;
	margin-top:7px;
	margin-bottom:5px;
	margin-left: 1px;
	color: #8f8d8d;
/*	border: 1px solid white;  */
}

.uiflow_process_flow_menubar_container_menubar_desc{
    font-size: 8px;
    margin-top:7px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: #8f8d8d;
}



.uiflow_process_flow_menubar_container .uiflow_menubar_Repository:before{
	content: '\f1c0'; 
}

.uiflow_process_flow_menubar_container .uiflow_menubar_New:before{
	content: '\f15b'; 
}

.uiflow_process_flow_menubar_container .uiflow_menubar_Save:before{
	content: '\f35b'; 
}
.uiflow_process_flow_menubar_container .uiflow_menubar_Tree:before{
	content: '\f802'; 
}

.uiflow_process_flow_menubar_container .uiflow_menubar_Saveas:before{
	content: '\f15b'; 
}


.uiflow_process_flow_menubar_container .uiflow_menubar_Change:before{
	content: '\e13a'; 
}


.uiflow_process_flow_menubar_container .uiflow_menubar_Export:before{
	content: '\f56e'; 
}


.uiflow_process_flow_menubar_container .uiflow_menubar_Import:before{
	content: '\f56f'; 
}
.uiflow_process_flow_menubar_container .uiflow_menubar_Copy:before{
	content: '\f0c5'; 
}
.uiflow_process_flow_menubar_container .uiflow_menubar_Paste:before{
	content: '\f0ea'; 
}
.uiflow_process_flow_menubar_container .uiflow_menubar_Validate:before{
	content: '\e5a0'; 
}

.uiflow_process_flow_menubar_container .uiflow_menubar_Sessions:before{
	content: '\f0c9'; 
}

.uiflow_process_flow_menubar_container .uiflow_menubar_Parameters:before{
	content: '\f145'; 
}

.uiflow_process_flow_toolbar_container{
	font-family: FontAwesome,DSFontIcon;
	display: block-inline;
	width: 100%;
	height: 50px;
	z-index: 9;	
	padding-left: 15px;
	padding-right: 15px;
	background-color: #004D78;
	color: #fff;
	bottom: 0px;
	overflow-y: hidden;
}

.uiflow_process_flow_toolbar_container_toolbar{
	display: inline-block;
	font-size: 28px;
	width: 50px;
	height: 30px;
	margin-top:7px;
	margin-bottom:5px;
	margin-left: 1px;
	color: lightblue;
/*	border: 1px solid white;  */
}

.uiflow_process_flow_toolbar_container_toolbar_desc{
	font-size: 8px;
	display: none;
}
/*
g.joint-type-processflow-operationblock tspan{
	font-family: DSFontIcon,FontAwesome;
}

g.joint-type-processflow-stepblock tspan{
	font-family: DSFontIcon,FontAwesome;
}
*/

.uiflow_process_flow_toolbar_container .Refresh:before{
	content: '\f021'; 
}

.uiflow_process_flow_toolbar_container .BOM:before{
	content: '\f1b3'; 
}

.uiflow_process_flow_toolbar_container .Operation:before{
	content: '\e122'; 
}
.uiflow_process_flow_toolbar_container .Step:before{
	content: '\e408'; 
}
.uiflow_process_flow_toolbar_container .Product:before{
	content: '\e056'; 
}
.uiflow_process_flow_toolbar_container .WorkCenter:before{
	content: '\e357'; 
}
.uiflow_process_flow_toolbar_container .Component:before{
	/*content: '\e270';  */
	content: '\f12e';
	font-family: FontAwesome;
}
.uiflow_process_flow_toolbar_container .Document:before{
	/*content: '\e051';  */
	content: '\f1ea';
	font-family: FontAwesome;
}
.uiflow_process_flow_toolbar_container .WorkInstruction:before{
	/*content: '\e055'; */
	 content: '\f15c';
	 font-family: FontAwesome;
}
.uiflow_process_flow_toolbar_container .Resource:before{
	/*content: '\e116';  */
	content: "\f0e3";
	font-family: FontAwesome;
}
.uiflow_process_flow_toolbar_container .ResourceClass:before{
	content: '\e115'; 
}
.uiflow_process_flow_toolbar_container .Characteristic:before{
	/*content: '\e502'; */
	content: "\f02c";	
	font-family: FontAwesome;
}
.uiflow_process_flow_toolbar_container .Specification:before{
	content: '\e319'; 
}
.uiflow_process_flow_toolbar_container .DataCollectionPlan:before{
	content: '\e339'; 
}
.uiflow_process_flow_toolbar_container .CheckList:before{
	content: '\e014'; 
}
.uiflow_process_flow_toolbar_container .Skill:before{
	content: '\e118'; 
}
.uiflow_process_flow_toolbar_container .Role:before{
	content: '\e344'; 
}
.uiflow_process_flow_toolbar_container .Signature:before{
	content: '\f040'; 
}
.uiflow_process_flow_toolbar_container .Employee:before{
	content: '\f007'; 
}
.uiflow_process_flow_toolbar_container .EmployeeClass:before{
	content: '\f0c0'; 
}
.uiflow_process_flow_toolbar_container .Alert:before{
	content: '\f0a2'; 
}

/*icon for the contextmenu*/
.process_icon:before{
	content: '\e268'; 	
	font-family: 'DSFontIcon' !important;
}
.process_icon_prototype:before{
	content: '\e268'; 	
	color: yellow  !important;
	font-family: 'DSFontIcon' !important;
}
.process_icon_hold:before{
	content: '\e268'; 	
	color: lightgrey   !important;
	font-family: 'DSFontIcon' !important;	
}
.process_icon_cancel:before{
	content: '\e268'; 	
	color: red  !important;
	font-family: 'DSFontIcon' !important;
}
.process_icon_development:before{
	content: '\e268'; 	
	color: orange  !important;
	font-family: 'DSFontIcon' !important;
}
.process_icon_active:before{
	content: '\e268'; 	
	color: green  !important;
	font-family: 'DSFontIcon' !important;
}
.process_icon_design:before{
	content: '\e268'; 	
	color: blue  !important;
	font-family: 'DSFontIcon' !important;	
}
.context-menu-icon-Refresh:before{
	content: '\f021' ;
	font-family: 'DSFontIcon' !important;
}

.context-menu-icon-BOM:before{
	content: '\f1b3' ; 
}

.context-menu-icon-Operation:before{
	content: '\e122' ; 
	font-family: 'DSFontIcon' !important;
}
.context-menu-icon-Step:before{
	content: '\e408' ; 
	font-family: 'DSFontIcon' !important;
}
.context-menu-icon-Product:before{
	content: '\e056' ;
	font-family: 'DSFontIcon' !important;	
}
.context-menu-icon-WorkCenter:before{
	content: '\e357' ; 
	font-family: 'DSFontIcon' !important;
}
.context-menu-icon-Component:before{
	/*content: '\e270';  */
	content: '\f12e';
	font-family: FontAwesome  !important;
}
.context-menu-icon-Document:before{
	/*content: '\e051';  */
	content: '\f1ea';
	font-family: FontAwesome  !important;
}
.context-menu-icon-WorkInstruction:before{
	/*content: '\e055'; */
	 content: '\f15c';
	 font-family: FontAwesome  !important;
}
.context-menu-icon-Resource:before{
	/*content: '\e116';  */
	content: "\f0e3";
	font-family: FontAwesome  !important;
}
.context-menu-icon-ResourceClass:before{
	content: '\e115' ; 
	font-family: 'DSFontIcon' !important;
}
.context-menu-icon-Characteristic:before{
	/*content: '\e502'; */
	content: "\f02c";	
	font-family: FontAwesome  !important;
}
.context-menu-icon-Specification:before{
	content: '\e319' ; 
	font-family: 'DSFontIcon' !important;
}
.context-menu-icon-DataCollectionPlan:before{
	content: '\e339'  ;
	font-family: 'DSFontIcon' !important;
}
.context-menu-icon-CheckList:before{
	content: '\e014' ; 
	font-family: 'DSFontIcon' !important;
}
.context-menu-icon-Skill:before{
	content: '\e118' ; 
	font-family: 'DSFontIcon' !important;
}
.context-menu-icon-Role:before{
	content: '\e344' ; 
	font-family: 'DSFontIcon' !important;
}
.context-menu-icon-Signature:before{
	content: '\f040' ; 
	font-family: 'DSFontIcon' !important;
}
.context-menu-icon-Employee:before{
	content: '\f007' ; 
	font-family: 'DSFontIcon' !important;
}
.context-menu-icon-EmployeeClass:before{
	content: '\f0c0' ; 
	font-family: 'DSFontIcon' !important;
}
.context-menu-icon-Alert:before{
	content: '\f0a2' ; 
	font-family: 'FontAwesome' !important;
}
.context-menu-icon-feature:before{
	content: '\f039' ; 
	font-family: 'FontAwesome' !important;
}
.context-menu-icon-generateflow:before{
	content: '\f1cb' ; 
	font-family: 'FontAwesome' !important;
}
.context-menu-icon-3DModel:before{
	content: '\f1b2' ; 
	font-family: 'FontAwesome' !important;
}
.context-menu-icon-Properties:before{
	content: '\f141' ; 
	font-family: 'FontAwesome' !important;
}
.context-menu-icon-workload:before{
	content: '\f017' ; 
	font-family: 'FontAwesome' !important;
}

.context-menu-icon-link:before{
	content: '\f0c1' ; 
	font-family: 'FontAwesome' !important;
}
.context-menu-icon-hold:before{
	content: '\f13e' ; 
	font-family: 'FontAwesome' !important;
}
.context-menu-icon-release:before{
	content: '\f023' ; 
	font-family: 'FontAwesome' !important;
}
.context-menu-icon-preview:before{
	content: '\f06e' ; 
	font-family: 'FontAwesome' !important;
}
/* end*/

.table-bordered > thead > tr > td{
    border: 1px solid #ddd;
}

.table-bordered > tbody > tr > td{
    border: 1px solid #ddd;    
}

#popupContainer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
  }
  
#popupContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  }
  
#closePopupButton {
	margin-top: 10px;
  }

     /* Additional CSS for CodeMirror diff styling */
     .CodeMirror-merge {
		height: 300px;
		border: 1px solid #ccc;
	  }
  
	  .CodeMirror-merge .CodeMirror-merge-pane {
		width: 50%;
		height: 100%;
		box-sizing: border-box;
		float: left;
	  }
  
	  .CodeMirror-merge .CodeMirror-merge-pane-right {
		border-left: 1px solid #ddd;
	  }
  
	  .CodeMirror-merge .CodeMirror-merge-collapsed {
		background: #f8f8f8;
		color: #888;
		text-decoration: line-through;
	  }
  
	  .CodeMirror-merge .CodeMirror-merge-collapsed-widget {
		color: #bbb;
		background: #f8f8f8;
		border: 1px solid #ddd;
		box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
		padding: 2px 0px 2px 4px;
	  }

.ui-flow-parameters-table > thead > tr > td
.ui-flow-parameters-table > tbody > tr > td
{
	width: 100%;
	border: #8f8d8d;
	border-collapse: collapse;
	box-sizing: border-box;
}